/*Reset CSS*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Estilização de navbar e centralização*/

.header {
    height: 99.5vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    background: #fff url(/assets/img/bg-image.png) no-repeat top center fixed;
    background-size: cover;
}


.svg-itens {
    height: 100%;
    width: 100%;
    display: flex;
}

.top-navbar {
    border: 1px solid blue;
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    min-width: 50em;
    height: 6.2%;
    min-height: 6.2%;
    max-height: 10%;
}


.doordash-svg {
    justify-content: start;
    display: flex;
    align-items: center;
    margin-left: 0.1em;
}

.nav-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 6%;
    margin-right: 2em;
}

.nav-buttons button {
    border: none;
}

.name {
    margin-right: 0.75em;
}